.home_container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 30%;
    padding: 0 8rem;
    grid-template-areas: "title banner" "images banner" ;
}



.title {
    grid-area: title;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.home_container .btn {
    width: 157px;
    height: 35px;
    margin: 3rem;
    border-radius: 50px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: #000;
}

.home_images{
    height: 89px;
    display: flex;
    grid-area: images;
}

.Icon_Image {
    width: 20%;
    margin-left: 15px;
    height: auto;
}

.banner {
    grid-area: banner;
    width: 100%;
    padding-left: 10rem;
}

.banner img{
    width: 100%;
    border-radius: 20px;
    margin: 25px;
}

@media (max-width: 800px) {
    .home_container {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "banner" "images";
        padding: 0 1rem;
        grid-template-rows: 40% 50% 10%;
    }

    .home_container .btn{
        padding: 2rem 0;
    }
    .btn_icon {
        width: 20px;
    }
    .banner {
        padding: 0;
    }
    .banner img{
        width: 93%;
        margin-right: auto;
        margin-left: 10px;
        padding: 0;
    }
}
    