.NavbarItens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem 5rem;
    text-align: center;
}

.menu-itens {
  margin: auto 0 auto auto;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
 margin-right: 2rem;
 justify-content: end;
 width: 50vww; 
}

.ul {
  margin-top: 0;
}

.li a {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      line-height: 3rem;
}
      a:hover {
        border-bottom: 1px solid var(--white);
        color: var(--gray);
        transition: color 0.1s ease-in;
      }

.li {
  align-items: center;
  justify-content: space-between;
}

@media  screen and (max-width: 960px) {
      .NavbarItens {
        padding: 2.5rem 4rem 5rem;
        position: absolute;
      }
    
        img{
          width: 125px;
        }
    
        nav {
          display: none;
        }
        
          .menu {
          width: 30px;
          height: 30px;
          margin-right: 15px;
          z-index: 4;
          display: contents;
          }
    
  

          nav {
            margin-top: 4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
            gap: 1rem;
          }
            a:not(:first-child) {
              margin-left: 0;
            }
          }